{% extends "::base.html.twig" %}

{% block title %}BookReviewBundle:BookApi:talks{% endblock %}

{% block body %}
<h1>Welcome to the BookApi:talks page</h1>

    <h1>{{ book.title }}</h1>

{% endblock %}
